#include "Generated.xcconfig"


FLUTTER_TARGET=lib/config/Main_staging.dart
ASSET_PREFIX=staging
BUNDLE_NAME=Naifarm-stag
FACEBOOK_APP_ID=219341536017829
FACEBOOK_APP_ID_SCHEMES=fb219341536017829
APP_SUFFIX=com.dotsocket.naifarm.staging
APP_SUFFIX_NOTI=com.dotsocket.naifarm.staging.OneSignalNotificationServiceExtension
